//Colours
$leafGreen: #007921;
$darkGreen: #00380d;

//Fonts
$titleFont: 'Pacifico', cursive;
$baseFont: 'Oswald', sans-serif;

// font-family: 'Oswald', sans-serif;
// font-family: 'Pacifico', cursive;